{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load comments %}

{% block title %} - {% trans "Emoticons" %}{% endblock %}

{% block content %}
<div id="list" class="contentbox">
<h1>{% trans "Emoticons" %}</h1>

{% if user.is_staff %}
<div class="commands">
  <a href="/admin/santaclara_emoticons/">{% trans "Edit" %}</a>
</div>
{% endif %}

{% for emoticonsset in emoticonsset_list %}
{% if emoticonsset.numerosity %}
<div class="text"><h2>{{ emoticonsset.name }}</h2>

<table>
{% for emo in emoticonsset.emoticon_set.all_enabled %}
{% if forloop.counter0|divisibleby:emoticonsset.colspan %}<tr>{% endif %}
<td class="center bottom borderall {% if not emo.enabled %}disabled{% endif %}">{{ emo.get_image|safe }}<br/>:{{ emo.label }}:</td>
{% if forloop.counter|divisibleby:emoticonsset.colspan %}</tr>{% endif %}
{% endfor %}
</table>

</div>
{% endif %}
{% endfor %}
</div>

{% endblock content %}

